*.cmake
*.xcodeproj
*.xcworkspace
.circleci/
.gitattributes
.gitmodules
.travis.yml
CMakeLists.txt
CONTRIBUTING.md
Gemfile{,.lock}
Makefile
Makefile.win
appveyor.yml
build/
drafter/.circleci/config.yml
drafter/.clang-format
drafter/.git
drafter/ARCHITECTURE.md
drafter/Dockerfile
drafter/configure
drafter/ext/cmdline/.git
drafter/ext/cmdline/test{,2}.cpp
drafter/ext/snowcrash/ext/markdown-parser/ext/sundown/.git
drafter/ext/snowcrash/ext/markdown-parser/ext/sundown/examples
drafter/ext/snowcrash/ext/markdown-parser/test
drafter/ext/snowcrash/test
drafter/ext/variant/.appveyor.yml
drafter/ext/variant/.clang-format
drafter/ext/variant/.git
drafter/ext/variant/3rdparty
drafter/ext/variant/cmake
drafter/ext/variant/support
drafter/ext/variant/test
drafter/features
drafter/test
drafter/tools
test/
tools/
vcbuild.bat
