sudo: false
language: node_js
node_js:
- '12'
- '10'
- '8'
- '6'
- '4'
before_install:
- git submodule update --init --recursive
notifications:
  email: false
  slack:
    secure: Kw0lRYBknqm2a+N94lfi6Jo9941yYjsmCvNOnrjlsinTjlN47Yog0va97/3OWflz+LbAZ5dJgeIK2/XvDqDNppynjDdJJikAM5G7OAWCzwmF8u97PONLLL9CnQECF9ZC8j4jIpnkSPPrJCor02EbJA9Uz7wjscrEjT7Dd529TP0=
