language: node_js
node_js:
  - "0.10"
  - "0.8"
script: "npm install && npm test"
before_install:
  - git submodule update --init --recursive
branches:
  only:
    - master
notifications:
  email:
    recipients:
      - z@apiary.io  
    on_success: change
    on_failure: always
  hipchat:
    - secure: "ZRKSctculEtR03uTxeUjWxQ8lDeC3v7hJJrmPS7JDGPBlzpzlJau1NHu3Zex\nkKWmKHH29t6otZ5tAWF3THDdUssk5VbIRMCpoEEVMJeHuBZijje7nwk2JZR/\ncPwNsIZ4keaAxujh9BBWC0i+PbkrTRxhrzIHTntawInL33ZQP9Q="