version: 2

aliases:
  - &defaults
    working_directory: ~/repo
    docker:
      - image: circleci/node:10

  - &tag-filter
    filters:
      tags:
        only: /^v.*/

jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: npm install
      - run: npm test
      - persist_to_workspace:
          root: ~/repo
          paths: .

  test-macos:
    working_directory: ~/repo
    macos:
      xcode: "9.4.0"

    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: npm install
      - run: npm test

  publish:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: npm publish

workflows:
  version: 2
  test-publish:
    jobs:
      - test: *tag-filter
      - test-macos: *tag-filter
      - publish:
          requires:
            - test
            - test-macos
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
